doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/main.css")
        link(rel="stylesheet", href="/tasks.css")
    body 
        div.task-page
            header
                span=userLogin
            div.table-heading
                h3 Ваши задачи
                div.pagination
                    a(arrow="arrow" disabled=`${currentPage == 1}` href=`${currentPage == 1 ? '#' : `/test-app/tasks?page=${+currentPage-1}&userId=${userId}&login=${userLogin}`}`)
                    if currentPage == 1
                        a.active(href=`/test-app/tasks?page=${1}&userId=${userId}&login=${userLogin}`)=1
                    else 
                        a(href=`/test-app/tasks?page=${1}&userId=${userId}&login=${userLogin}`)=1
                        a.active(href=`/test-app/tasks?page=${currentPage}&userId=${userId}&login=${userLogin}`)=currentPage
                    a(arrow="arrow-forward" disabled=`${!nextPageExists}` href=`${nextPageExists? `/test-app/tasks?page=${+currentPage+1}&userId=${userId}&login=${userLogin}`:'#'}`)
            div.tasks-container
                table
                    thead 
                        th
                        th Название
                        th Проект
                        th Описание
                        th Дедлайн
                        th Приоритет
                        th Статус
                    tbody
                        each task in tasks
                            tr(parent parent-id=`${task.id}`)
                                td
                                    img.toggler-icon(src="/images/toggler.svg")
                                td=task.title
                                td=task.project.title
                                td=task.description
                                td 
                                    div 
                                        p=task.maxStart
                                        p=task.maxEnd
                                td(class=`priority-${task.priority.id}`)=task.priority.name
                                td(class=`status-${task.status.id}`)=task.status.name
                            each childTask, childIndex in task.childrenTasks
                                tr(parent-id=`${task.id}` hidden="true")
                                    td
                                        if childIndex == task.childrenTasks.length - 1
                                            hr.half
                                        else
                                            hr.full
                                        hr
                                    td=childTask.title
                                    td=task.project.title
                                    td=childTask.description
                                    td 
                                        div 
                                            p=childTask.maxStart
                                            p=childTask.maxEnd
                                    td(class=`priority-${childTask.priority.id}`)=childTask.priority.name
                                    td(class=`priority-${childTask.status.id}`)=childTask.status.name
    script(src="/scripts/table-hierarchy.js") 
